@{
    ViewData["Title"] = "Contratos vigentes por Fecha";
    string hoy = DateTime.Now.ToString("yyyy-MM-dd");

}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}

<h1>Contratos vigentes por Fechas</h1>

<hr />

<div class="row">
    <div class="col-sm-12">
        <p class="lead" id="p_aviso">@DateTime.Now.ToString("dd/MM/yyyy")</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <label for="desde" class="form-label">Desde</label>
        <input type="date" class="form-control" name="desde" id="desde" value="@hoy"/>
    </div>
    <div class="col-sm-3">
        <label for="hasta" class="form-label">Hasta</label>
        <input type="date" class="form-control" name="hasta" id="hasta" value="@hoy"/>
    </div>
    <div class="col-sm-3 mt-auto">
        <button class="btn btn-primary" id="btn_buscar">Consultar</button>
    </div>
    <div class="cols-sm-3 mt-auto">
        <a class="btn btn-link" asp-action="Index">Lista de Contratos</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-12">
        <table class="table" id="table_id">
            <thead>
                <tr>
                    <th>Inmuebles</th>
                    <th>Inquilino</th>
                    <th>Fecha de Inicio</th>
                    <th>Fecha de Fin</th>
                    <th width="70"></th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>

<hr />

<div>
    <a class="btn btn-link" asp-action="Index">Lista de Contratos</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DataTable");}
    <script src="~/js/Contratos/Valids/datatable.js"></script>
}