@model InmobiliariaAlbornoz.ModelsAux.InmuebleAvailableByDates

@{
    ViewData["Title"] = "Inmuebles disponibles por Fecha";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}

<h1>Inmuebles disponibles por Fechas</h1>

<hr />

<div class="row">
    <div class="col-sm-12">
        <p class="lead" id="p_aviso"></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
        <label asp-for="Desde" class="form-label"></label>
        <input type="date" class="form-control" name="desde" id="desde" />
        <span asp-validation-for="Desde" class="text-danger"></span>
    </div>
    <div class="col-sm-3">
        <label asp-for="Hasta" class="form-label"></label>
        <input type="date" class="form-control" name="hasta" id="hasta" />
        <span asp-validation-for="Hasta" class="text-danger"></span>
    </div>
    <div class="col-sm-3 mt-auto">
        <button class="btn btn-primary" onclick="consultar()" id="btn_buscar">Consultar</button>
    </div>
    <div class="cols-sm-3 mt-auto">
        <a class="btn btn-link" asp-action="Index">Lista de Inmuebles</a>
    </div>
</div>

<hr />

<div class="row">
    <div class="col-sm-12">
        <table class="table" id="table_id">
            <thead>
                <tr>
                    <th>Dirección</th>
                    <th>Tipo</th>
                    <th>Uso</th>
                    <th>Amb.</th>
                    <th>Propietario</th>
                    <th width="70"></th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </div>
</div>

<hr />

<div>
    <a class="btn btn-link" asp-action="Index">Lista de Inmuebles</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_DataTable");}
    <script src="~/js/Inmuebles/Availables/datatable.js"></script>
}