
@{
    ViewData["Title"] = "Denied";
}

@if (TempData["msg"] != null)
{
    <div class="row">
        <div class="col-sm-4">
            <div class="alert alert-info alert-dismissible fade show" role="alert">
                <span>@TempData["msg"]</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true"></span><i class="fas fa-times-circle"></i>
                </button>
            </div>
        </div>
    </div>
}

<div class="row">
    <div class="col-sm-4">
        <div class="alert-warning">
            No tienes privilegios para la acción que intentas<br><br>

            Volviendo a inicio en <span id="timer">5</span> segundos
        </div>
    </div>
</div>


<script>
    var targetURL = "/"
    var currentsecond = 5;
    function countredirect() {
        if (currentsecond != 1) {
            currentsecond -= 1
            document.getElementById('timer').innerText = currentsecond;
        }
        else {
            window.location = targetURL;
            return
        }
        setTimeout("countredirect()", 1000)
    }
    countredirect();
</script>
