@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center">
    <h1 class="display-4">Diagrama ER</h1>
    <p class="lead">El diagrama es SVG, por lo que puede hacer zoom para facilitar la lectura</p>
    <hr />
    <img src="~/media/svg/der.svg" alt="Diagrama Entidad Relación" width="1000"/>
</div>
